<!DOCTYPE html>
<html>
<head>
  <title>Producer</title>
  <%= stylesheet_link_tag "admin", "scaffold" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="wrapper">
    <div id="header">
      <div id="main-nav">
        <ul>
          <li><a>Dashboard</a></li>
          <li><a>Posts</a></li>
          <li><a>Media</a></li>
          <li><a>Changelog</a></li>
          <li><a>Inquiries</a></li>
        </ul>
      </div>
    </div>

    <div id="content-wrapper">
      <div id="content">
        <div class="in">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>